.modal{
    display: flex;
    position: relative;
    justify-content: center;
    height: 100vh;
    z-index: 999;
    background-color: #e3e3f1;
    background-image:  radial-gradient(#f33 2px, transparent 2px), radial-gradient(#f33 2px, #e5e5f7 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
  }
  
  .modal-content{
    display: flex;
    align-self: center;
    border: 2px solid black;
    padding: 5px;
    background: rgba(240, 240, 252, 0.8);
  }
  
  .modal-title-container{
    display: flex;
    align-self: center;
  }

  .modal-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .modal-title-h1{
    font-family: 'Playfair Display', serif;
  }
  
  .vertical-line{
    border-left: 4px double #d31313;
  }
  
  .sign-up-methods{
    display: flex;
  }
  
  .register-container{
    align-self: center;
    margin: 10px;
  }
  
  .mail-auth-container{
    align-self: center;
    margin: 10px;
  }
  
  .auth-container{
    display: flex;
    align-self: center;
  }
  
  .auth-btn{
    margin-left: 5px;
  }