.afterLoginUsernameModalContainer{
    display: flex; 
    justify-content: center;
    height: 100vh;
    z-index: 998;
}

.afterLoginUsernameModal{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border: 2px solid black;
    background: rgba(240, 240, 252, 0.582);
    padding: 5px;
}
  